* {
  outline          : none;
  text-shadow      : none;
  border-style     : none;
  -gtk-icon-shadow : none;
}

window {
  border-color     : #000;
  border-width     : 1px;
  border-radius    : 0px;
  background-color : #2f2f2f;
  text-shadow      : none;
}

textview text {
  border-radius    : 0px;
  color            : #bfbfbf;
  background-color : #2f2f2f;
}

separator.dark {
    background-color : #000;
}

decoration {
  min-height       : 20px;
  opacity          : 1.0;
  border-color     : #000;
  border-width     : 0px;
  border-radius    : 0px;
  background-color : #f00;
}

headerbar,
headerbar.flat,
headerbar:active,
headerbar:backdrop,
headerbar:focus {
  min-height          : 28px;
  padding-left        : 4px;
  border-bottom-color : #000;
  border-radius       : 0px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  background          : none;
  background-color    : #2f2f2f;
  box-shadow          : none;
}

headerbar label.title {
  opacity : 0.0;
}

.menubar,
menubar {
  padding          : 4px 0px 4px 0px;
  color            : #bfbfbf;
  background       : none;
  background-color : #2f2f2f;
}

.menubar > menuitem,
menubar > menuitem {
  min-height       : 16px;
  color            : #bfbfbf;
  background-color : #2f2f2f;
}

.menubar:backdrop,
menubar:backdrop {
  background-color : #2f2f2f;
}

.menubar > menuitem:hover,
menubar > menuitem:hover {
  color            : #39c;
  background-color : #000;
}

.menubar > menuitem:disabled,
menubar > menuitem:disabled {
  color            : #bfbfbf;
  background-color : #39c;
}

menuitem {
  box-shadow : none;
}

menuitem > label {
  min-height : 16px;
}

toolbar {
  padding          : 4px 4px 4px 4px;
  background-color : #2f2f2f;
}

toolbar > separator {
  background-color : #000;

  padding          : 0px 0px 0px 0px;
}

toolbar.left-bar > separator,
toolbar.right-bar > separator {
  margin  : 4px 0px 4px 0px;
}

toolbar.top-bar > separator,
toolbar.bottom-bar > separator {
  margin  : 0px 4px 0px 4px;
}

toolbar.top-bar button,
toolbar.bottom-bar button {
  min-width           : 24px;
  min-height          : 24px;
  background-color    : #202020;
}

toolbar.left-bar button:hover,
toolbar.right-bar button:hover,
toolbar button:hover {
  color            : #39c;
  background-color : #181818;
}

toolbar.left-bar button:active,
toolbar.right-bar button:active,
toolbar button:active {
  background-color : #000;
}

toolbar.top-bar {
  border-bottom : 1px solid #000;
}

toolbar.left-bar {
  border-right : 1px solid #000;
}

toolbar.right-bar {
  border-left : 1px solid #000;
}

toolbar.left-bar button,
toolbar.right-bar button {
  min-width        : 30px;
  min-height       : 30px;
  background-color : transparent;
  border-color     : transparent;
}

toolbar > label {
  color : #bfbfbf;
}

combobox arrow {
  min-height : 16px;
  padding    : 4px 0px 4px 0px;
  /* -gtk-icon-source: -gtk-scaled(url("./res/img/default/down.svg")); */
}

frame label {
  color : #bfbfbf
}

button {
  color            : #bfbfbf;
  background-color : #202020;

  min-width        : 80px;
  min-height       : 24px;
  margin           : 0px 0px 0px 0px;
  padding          : 0px 0px 0px 0px;

  border           : 1px solid #5f5f5f;
  border-radius    : 2px;

  box-shadow       : none;
  text-shadow      : none;
}

button:hover {
  /* border-bottom-color : #39c; */
  color            : #39c;
  background-color : #181818;

  border           : 1px solid #39c;
  border-radius    : 2px;
}

button:active {
  color            : #39c;
  background-color : #000;

  border           : 1px solid #268;
  border-radius    : 2px;
}

button label {
  padding : 0px 8px 0px 8px;
}

button:hover label,
button:active label {
  color : #39c;
}

button.circular {
  border-radius : 9999px;
}

button.combo {
  padding : 0px 4px 0px 4px;
}

button.suggested-action {
  background-color : #268;
  color            : #202020;
}

button.suggested-action:hover {
  /*background-color : #498;  KEEP THIS COLOR ITS GREAT*/
  color : #bfbfbf;
}

button.suggested-action:hover label,
button.suggested-action:active label {
  color : #bfbfbf;
}

button.suggested-action:active {
  background-color : #134;
  color            : #bfbfbf;
}

button.close,
button.maximize,
button.minimize {
  min-width        : 24px;
  border           : none;
  background-image : none;
  background-color : inherit;
  box-shadow       : none;
  text-shadow      : none;
}

button.close:hover,
button.maximize:hover,
button.minimize:hover {
  background-color : inherit;
}

checkbutton label {
  color : #bfbfbf;
}

statusbar {
  min-height       : 21px;
  margin           : 0px;
  padding          : 0px;
  color            : #bfbfbf;
  border-top       : 1px solid #000;
  background-color : #2f2f2f;
}

box.dark {
  background-color: #1a1a1a;
}

combobox,
statusbar button {
  min-width        : 24px;
  min-height       : 24px;
  border-bottom    : none;
  background-color : inherit;
}

combobox:hover,
statusbar button:hover {
  color            : #39c;
  background-color : #181818;
}

button.right,
combobox.right {
  border-left : 1px solid #000;
}

button.left combobox.left {
  border-right : 1px solid #000;
}

notebook:backdrop {
  background-color : #2f2f2f;
}

notebook > header {
  min-height       : 20px;
  margin           : 0px 0px 0px 0px;
  padding          : 0px 0px 0px 0px;
  border-bottom    : 1px solid #000;
  background-color : #282828;
  box-shadow       : none;
}

notebook > header > tabs {
  min-height : 20px;
  margin     : 0px 0px 0px 0px;
  padding    : 0px 0px 0px 0px;
  box-shadow : none;
}

notebook > header > button {
  min-width  : 16px;
  min-height : 16px;
  margin     : 0px 0px 0px 0px;
  padding    : 0px 0px 0px 0px;
  border     : none;
  background : inherit;
}

notebook > stack {
  background-color : #2f2f2f;
}

notebook tab {
  min-height       : 24px;
  margin           : 0px 0px 0px 0px;
  padding          : 0px 15px 0px 15px;
  color            : #bfbfbf;
  background-color : #282828;
  outline          : none;
  box-shadow       : none;
  font-weight      : normal;
}

notebook tab:checked {
  background-color : #2f2f2f;
}

notebook tab:not(:first-child) {
  border-right : 1px solid #282828;
  border-left  : 1px solid #282828;
}

notebook tab:first-child {
  margin-left  : -1px;
  border-right : 1px solid #282828;
  border-left  : 1px solid #282828;
}

notebook tab:not(:first-child):checked {
  border-right : 1px solid #000;
  border-left  : 1px solid #000;
}

notebook tab:first-child:checked {
  margin-left  : -1px;
  border-right : 1px solid #000;
  border-left  : 1px solid #000;
}

view {
  background-color : #202020;
}

frame > border,
.frame {
  margin: 0px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid #5f5f5f;
}

frame > label {
  color : #bfbfbf;
}

frame.flat, .frame.flat {
  border-style: none;
}

frame:backdrop, .frame:backdrop {
  border-color: #c0c0bd;
}

paned > separator {
  background-image : none;
  color            : #000;
  background-color : #000;
  border-color     : #000;
}

paned > separator:selected {
  color            : #3399cc;
  background-color : #3399cc;
  border-color     : #3399cc;
}

/*label {
  color : #bfbfbf;
}*/

entry {
  color            : #bfbfbf;
  background-color : #202020;

  border-style     : none;
  border-width     : 0px;
  border-radius    : 0px;
}

/*popover {
  background-color : #2f2f2f;
  border-radius    : 0px;
  border           : 1px solid #000;

  padding          : 4 4 4 4;
}

popover > arrow {
  background-color : transparent;
  border-color: #fff;
  color : #fff;
}*/
